/*GENERIC -------------------------------------------*/
body{
    font-family: 'Poppins', 'Helvetica', 'Arial', sans-serif;
}
article{
    margin-bottom: 80px;
}

/*TEMPLATE CLASSES ----------------------------------*/
.background-image{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.button-container{
    margin-bottom: 30px;
}
.btn-delvoy{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    color: #898989;
    padding: 8px 12px;
    border-radius: 0;
    border: 1px solid #898989;
    background-color: transparent;
}
.btn-delvoy:hover{
    color: #fff;
    background-color: #333333;
    border: 1px solid #333333;
}

/*FONTS -------------------------------------------*/
h2{
    font-size: 48px;
    font-weight: 300;
}
h2 a{
    color: #505050;
}
a,a:hover, a:focus{
    text-decoration: none;
}


/*HEADER -------------------------------------------*/
.header-container{
    position: relative;
    display: block;
    height: 326px;
    text-shadow: 0 1px 2px rgba(0,0,0,0.4);
}
.nav-container{
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: center;
}
.nav-container ul li{
    padding-right: 15px;
}


/*STANDARD POST FORMAT ------------------------------*/
h2.entry-title{
    line-height: 1.5em;
    margin: 50px 0 20px;
    padding: 0;
}
h2.entry-title:before, h2.entry-title:after{
    content: ' - ';
    display: inline-block;
    position: relative;
    margin: 0 10px;
    color: #505050;
}
.entry-meta{
    font-size: 13px;
    font-weight: 300;
    color: #898989;
}
.entry-meta a{
    font-weight: 500;
    color: #898989;
}
.entry-meta a:hover{
    color: #333333;
    transition: 0.2s;
}
.standard-featured-link{
    position: relative;
    display: block;
}
.standard-featured-link:hover .standard-featured:after{
    background-color: rgba(0,0,0,0); 
}
.standard-featured{
    height: 330px;
    display: block;
    position: relative;
}
.standard-featured:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.15);
    box-shadow: inset 0 0 15px rgba(0,0,0,0.35);
    transition: 0.4s;
}
.entry-excerpt{
    margin: 30px 0 16px;
}
.entry-excerpt p{
    font-size: 17px;
    line-height: 1.7em;
    font-weight: 300;
    letter-spacing: 0.02em;
}
.entry-footer{
    padding: 10px 5px;
    border-bottom: 4px solid #626262;
    color: #898989;
    text-transform: uppercase;
}
.entry-footer a{
    color: #898989;
    text-transform: uppercase;
    font-size: 12px;
}
.entry-footer .tags-list a{
    padding: 0 4px;
}